@model ProjectLigaNosWeb.Models.ClubViewModel

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Acroyn" class="control-label"></label>
    <input asp-for="Acroyn" class="form-control" />
    <span asp-validation-for="Acroyn" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ImageFile" class="control-label"></label>
    <input asp-for="ImageFile" type="file" class="form-control" />
    <span asp-validation-for="ImageFile" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="DateFund" class="control-label"></label>
    <input asp-for="DateFund" class="form-control" />
    <span asp-validation-for="DateFund" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="City" class="control-label"></label>
    <input asp-for="City" class="form-control" />
    <span asp-validation-for="City" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Country" class="control-label"></label>
    <input asp-for="Country" class="form-control" />
    <span asp-validation-for="Country" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="CapacityStadium" class="control-label"></label>
    <input asp-for="CapacityStadium" class="form-control" />
    <span asp-validation-for="CapacityStadium" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="President" class="control-label"></label>
    <input asp-for="President" class="form-control" />
    <span asp-validation-for="President" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="NationalTitles" class="control-label"></label>
    <input asp-for="NationalTitles" class="form-control" />
    <span asp-validation-for="NationalTitles" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="InternationalTitles" class="control-label"></label>
    <input asp-for="InternationalTitles" class="form-control" />
    <span asp-validation-for="InternationalTitles" class="text-danger"></span>
</div>
